.profile__add-button {
    width: 150px;
    height: 50px;
    background-color: transparent;
    background-image: url(../../../images/add_button.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    border-radius: 2px;
    margin-left: auto;
    cursor: pointer;
}

.profile__add-button:hover {
    transition: opacity 0.5s ease;
    opacity: .6;
}

@media screen and (max-width: 972px) {
    .profile__add-button {
        width: 100%;
        margin: 0;
    }
}