.popup__submit {
    width: 83.3%;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 1.21;
    border-radius: 2px;
    border: none;
    padding: 0;
    margin: 0 0 37px;
    cursor: pointer;
    margin-top: 31.34px;
}

.popup__submit:hover {
    transition: opacity 0.3s ease;
    opacity: .6;
}

@media screen and (max-width: 972px) {
    .popup__submit {
        font-size: 14px;
        line-height: 1.21;
        margin: 45px 0 25px;
    }
}