.profile__profile-info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: minmax(min-content, max-content);
    max-width: 38.9%;
    gap: 16px 18px;
    align-content: center;
    align-items: baseline;
    grid-template-areas: 
    "name button"
    "passion .";



    /* flex-direction: column;
    flex-wrap: wrap; */

}