.elements__element-like {
    width: 22px;
    height: 19px;
    margin-right: 15px;
    cursor: pointer;
    background-image: url(../../../images/like.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.elements__element-like:hover {
    transition: opacity 0.5s ease;
    opacity: .5;
}

