.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.popup__close-button:hover {
    transition: opacity 0.5s ease;
    opacity: .6;
}

@media screen and (max-width: 568px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -35px;
        right: 0;
    }
}