.popup__close-button {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -39px;
    right: -41px;
    padding: 0;
    cursor: pointer;
    background-image: url(../../../images/close_icon.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.popup__close-button:hover {
    transition: opacity 0.5s ease;
    opacity: .6;
}

@media screen and (max-width: 600px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}