.profile__passion {
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;
    color: #fff;
    margin: 0;
    grid-area: passion;
}

@media screen and (max-width: 568px) {
    .profile__passion {
        font-size: 14px;
        line-height: 1.21;
        place-self: center;
    }
}