.profile__avatar-img {
    width: 120px;
    height: 120px;
    margin-right: 30px;
    border-radius: 50%;
}

@media screen and (max-width: 972px) {
    .profile__avatar-img {
        margin: 0 0 26px;
    }
}